.header__top
    .container
        .header__content
            nav.header__nav.header-nav
                ul.header-nav__list
                    +headerNavLink('','About us')
                    +headerNavLink('','Raffle')
                    +headerNavLink('','News')
                    +headerNavLink('','Contacts')
            nav.header__nav.header__nav--right.header-nav
                ul.header-nav__list
                    +headerNavLink('','Registration')
                    +headerNavLink('','Login')