nav.header__main-nav.main-nav
    ul.main-nav__list
        li.main-nav__item
            a(href='').main-nav__link Charm bracelets
            include main-nav-dropdown
        li.main-nav__item
            a(href='').main-nav__link Jewelry
        li.main-nav__item
            a(href='').main-nav__link Collections
        li.main-nav__item
            a(href='').main-nav__link Gifts