.main-nav__dropdown-wrapper
    .main-nav__dropdown
        .main-nav__col
            ul.main-subnav__list
                li.main-subnav__item
                    a(href='').main-subnav__link
                        span.main-subnav__text Charms
                        +icon('right-arrow', 'main-subnav__icon')
                    ul.main-subnav__list
                        li.main-subnav__item
                            a(href='').main-subnav__link
                                span.main-subnav__text All Charms
                        li.main-subnav__item
                            a(href='').main-subnav__link
                                span.main-subnav__text Charms
                        li.main-subnav__item
                            a(href='').main-subnav__link
                                span.main-subnav__text Clips
                li.main-subnav__item
                    a(href='').main-subnav__link
                        span.main-subnav__text Bracelets
                        +icon('right-arrow', 'main-subnav__icon')
                li.main-subnav__item
                    a(href='').main-subnav__link
                        span.main-subnav__text Pandora Moments
                        +icon('right-arrow', 'main-subnav__icon')
        .main-nav__col