.header-nav {
  &__list {
    display: flex;
    align-items: center;
  }
  &__item {
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__link {
    font-size: 12px;
    line-height: 1.67;
    color: $tundora;
  }
}